<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'last_opened_tickets' 'quarter' %}">Открытые</a></li>
        <li class="breadcrumb-item"><a href="{% url 'type_tickets' %}">Типы</a></li>
        <li class="breadcrumb-item"><a href="{% url 'wronged_tickets' %}">Незаполненные</a></li>
        <li class="breadcrumb-item"><a href="{% url 'mass_tickets' %}">Массовые</a></li>
        <li class="breadcrumb-item"><a href="{% url 'wronged_mass_tickets' %}">Некорректные массовые</a></li>
        <li class="breadcrumb-item"><a href="{% url 'top_tickets' %}">ТОП тикетов</a></li>
        <li class="breadcrumb-item"><a href="{% url 'top_calls' %}">ТОП звонков</a></li>
        <li class="breadcrumb-item"><a href={% url 'top_no_service' %}>Готовность</a></li>
    </ol>
</nav>
