<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Выбрать период
    </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for type, type_name in last_types %}
        <a class="dropdown-item" href="{% url url_name_last type %}">{{ type_name }}</a>
    {% endfor %}
    {% for current_date in years %}
        <a class="dropdown-item" href="{% url url_name_year current_date|date:'Y' %}">{{ current_date|date:'Y' }} год</a>
    {% endfor %}
    {% for current_date in months %}
        <a class="dropdown-item" href="{% url url_name_month current_date|date:'Y' current_date|date:'m' %}">{{ current_date|date:'Y-m' }}</a>
    {% endfor %}
  </div>
</div>