<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'last_opened_tickets' 'quarter' %}">Открытые</a></li>
        <li class="breadcrumb-item"><a href="{% url 'type_tickets' %}">Типы</a></li>
        <li class="breadcrumb-item"><a href="{% url 'wronged_tickets' %}">Незаполненные</a></li>
        <li class="breadcrumb-item"><a href="#">Массовые</a></li>
        <li class="breadcrumb-item"><a href="#">Некорректные массовые</a></li>
        <li class="breadcrumb-item"><a href="#">ТОП тикетов</a></li>
        <li class="breadcrumb-item"><a href="#">ТОП звонков</a></li>
        <li class="breadcrumb-item"><a href="#">Коэфиент готовности</a></li>
    </ol>
</nav>
