{% extends "base/base.html" %}

{% block main %}
{% include 'sugar_crm/tickets_menu.html' %}
<div class="jumbotron">
    <h1>Не корректно оформленные тикеты</h1>
    {% if date_begin and date_end %}
        <h3>{{ date_begin|date:'Y-m-d' }} - {{ date_end|date:'Y-m-d' }}</h3>
    {% endif %}
    {% with url_name_last='last_wronged_tickets' url_name_year='year_wronged_tickets' url_name_month='month_wronged_tickets' %}
        {% include 'sugar_crm/tickets_period_dropdown.html' %}
    {% endwith %}

    <table class="table table-hover table-sm">
        <thead class="text-center">
        <tr>
            <th>#</th>
            <th>Создан</th>
            <th>Закрыт</th>
            <th>Группа</th>
            <th>Статус</th>
            <th>Локализация</th>
            <th>Работы</th>
            <th>Продолжительность</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in wronged_tickets %}
        <tr>
            <td class="text-center"><a href="http://crm.kgts.su/sugarcrm/index.php?module=Bugs&action=DetailView&record={{ ticket.id }}">{{ ticket.bug_number }}</a></td>
            <td class="text-center">{{ ticket.date_entered|date:'Y-m-d' }}</td>
            <td class="text-center">{{ ticket.date_close|date:'Y-m-d' }}</td>
            <td class="text-center">{{ ticket.department }}</td>
            <td class="text-center">{{ ticket.status }}</td>
            <td>
                <ul>
                    {% for localisation in ticket.localisation %}
                        <li>{{ localisation }}</li>
                    {% endfor %}
                </ul>
            <td>
                <ul>
                    {% for perform in ticket.perform %}
                        <li>{{ perform }}</li>
                    {% endfor %}
                </ul>
            <td class="text-center">{{ ticket.duration }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock main %}