{% extends "base/base.html" %}

{% block main %}
{% include 'sugar_crm/tickets_menu.html' %}
<div class="jumbotron">
    <h1>Не корректно оформленные тикеты</h1>
    {% if date_begin and date_end %}
        <h3>{{ date_begin|date:'Y-m-d' }} - {{ date_end|date:'Y-m-d' }}</h3>
    {% endif %}
    {% with url_name_last='last_wronged_mass_tickets' url_name_year='year_wronged_mass_tickets' url_name_month='month_wronged_mass_tickets' %}
        {% include 'sugar_crm/tickets_period_dropdown.html' %}
    {% endwith %}

    <table class="table table-hover table-sm">
        <thead class="text-center">
        <tr>
            <th>#</th>
            <th>Тикет</th>
            <th>Связанные абоненты</th>
            <th>Проверить абонентов</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in mass_tickets %}
        <tr>
            <td class="text-center"><a href="http://crm.kgts.su/sugarcrm/index.php?module=Bugs&action=DetailView&record={{ ticket.id }}">{{ ticket.bug_number }}</a></td>
            <td>
                <div><b>Дата:</b> {{ ticket.date_entered|date:'Y-m-d' }}</div>
                <div><b>Проблема:</b> {{ ticket.name }}</div>
                <div><b>Описание:</b></div>
                <div>{{ ticket.description|linebreaks }}</div>
            </td>
            <td>
                <ul>
                    {% for account in ticket.accounts %}
                        <li><a href="http://crm.kgts.su/sugarcrm/index.php?module=Accounts&action=DetailView&record={{ account.id }}">{{ account.name }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for account in ticket.not_fixed_accounts %}
                        <li><a href="http://crm.kgts.su/sugarcrm/index.php?module=Accounts&action=DetailView&record={{ account.id }}">{{ account.name }}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock main %}