{% extends "base/base.html" %}

{% block main %}
<div class="jumbotron">
    <h1>Платежи физических лиц
        {% if date_begin and date_end %}
            ({{ date_begin|date:'Y-m-d' }} - {{ date_end|date:'Y-m-d' }})
        {% endif %}
    </h1>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Выбрать период
        </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{% url 'pay_last' 'year' %}">Последний год</a>
          <a class="dropdown-item" href="{% url 'pay_last' '2years' %}">Последние 2 года</a>
          <a class="dropdown-item" href="{% url 'pay_last' '3years' %}">Последние 3 года</a>
          {% for year in years %}
              <a class="dropdown-item" href="{% url 'pay_year' year|date:'Y' %}">{{ year|date:'Y' }} год</a>
          {% endfor %}
      </div>
    </div>
    <h3>График поступления платежей</h3>
    <canvas id="chart-pays-sum"></canvas>
    <h2>График количества платежей</h2>
    <canvas id="chart-pays-count"></canvas>
    <h2>Поступление платежей в цифрах</h2>
    <table class="table table-hover table-sm" >
        <thead>
        <tr>
            <th class="text-center">Дата</th>
            <th class="text-center">Сумма</th>
            <th class="text-center" colspan=2>Изменение суммы</th>
            <th class="text-center">Платежей</th>
            <th class="text-center" colspan=2>Изменение количества</th>
            <th class="text-center">ARPU</th>
            <th class="text-center" title="Средний баланс активных клиентов на 1 число">Средний баланс</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for pay in pays_stat %}
            {% if pay.sum_dif < 0 %}
            <tr class='table-warning'>
            {% else %}
            <tr>
            {% endif %}
                <td>
                    <a href="{% url 'pay_month' pay.date|date:'Y' pay.date|date:'m' %}">{{ pay.date|date:'Y-m' }}</a>
                </td>
                <td>{{ pay.summ|floatformat:2 }}</td>
                {% if pay.sum_dif == 0 %}
                    <td>-</td><td>-</td>
                {% else %}
                    <td>{{ pay.sum_dif|floatformat:2 }}</td>
                    <td>{{ pay.sum_dif_p|floatformat:2 }}%</td>
                {% endif %}
                <td class="text-center">{{ pay.count }}</td>
                {% if pay.count_dif == 0%}
                    <td>-</td><td>-</td>
                {% else %}
                    <td>{{ pay.count_dif }}</td>
                    <td>{{ pay.count_dif_p|floatformat:2 }}%</td>
                {% endif %}
                <td>{{ pay.avg }}</td>
                <td>{{ pay.avg_balance|floatformat:2 }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><b>Итого</b></td>
                <td><b>{{ pays_stat_summary.summ|floatformat:2 }}</b></td>
                <td></td>
                <td></td>
                <td><b>{{ pays_stat_summary.count }}</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Среднее</b></td>
                <td><b>{{ pays_stat_summary.avg_summ|floatformat:2 }}</b></td>
                <td></td>
                <td></td>
                <td><b>{{ pays_stat_summary.avg_count|floatformat:2 }}</b></td>
                <td></td>
                <td></td>
                <td><b>{{ pays_stat_summary.avg_pay|floatformat:2 }}</b></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock main %}

{% block js %}
<!--JS для прорисовки графика -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script>
var date_labels = [{% for pay in pays_stat %} "{{ pay.date|date:'Y-m' }}", {% endfor %}];
var pays_sum = [{% for pay in pays_stat %} {{ pay.summ|floatformat:2 }}, {% endfor %}];
var pays_sum_balance = [{% for pay in pays_stat %} {{ pay.sum_balance|floatformat:2 }}, {% endfor %}];
var pays_count = [{% for pay in pays_stat %} {{ pay.count }}, {% endfor %}];
var pays_count_active = [{% for pay in pays_stat %} {{ pay.count_active }}, {% endfor %}];
var chart_pays_sum = document.getElementById("chart-pays-sum");
var chart_pays_sum_js = new Chart(chart_pays_sum, {
    type: 'line',
    data: {
        labels: date_labels,
        datasets: [{
            label: "Платежи",
            borderColor: 'blue',
            backgroundColor: 'transparent',
            lineTension: 0.2,
            borderWidth: 2,
            pointRadius: 1,
            data: pays_sum,
        },
        {
            label: "Суммарный баланс на 1 число",
            borderColor: 'red',
            backgroundColor: 'transparent',
            lineTension: 0.2,
            borderWidth: 2,
            pointRadius: 1,
            data: pays_sum_balance,
        },]
    },
    options: {
        scales: {
            yAxes: [{
                display: true,
                ticks: {
                    suggestedMin: 0,
                }
            }]
        }
    }
});
var chart_pays_count = document.getElementById("chart-pays-count");
var chart_pays_count_js = new Chart(chart_pays_count, {
    type: 'line',
    data: {
        labels: date_labels,
        datasets: [{
            label: "Количество платежей",
            borderColor: 'blue',
            backgroundColor: 'transparent',
            lineTension: 0.2,
            borderWidth: 2,
            pointRadius: 1,
            data: pays_count,
        },
        {
            label: "Активных на 1 число",
            borderColor: 'red',
            backgroundColor: 'transparent',
            lineTension: 0.2,
            borderWidth: 2,
            pointRadius: 1,
            data: pays_count_active,
        },]
    },
    options: {
        scales: {
            yAxes: [{
                display: true,
                ticks: {
                    suggestedMin: 0,
                }
            }]
        }
    }
});
</script>
{% endblock js%}
